$dark-green: #006d77;
$green: #83c5be;
$light-blue: #5C86AD;
$pink: #ffddd2;
$dark-pink: #e29578;


$dark-green-120: #005566;
$dark-green-80: #2BADAD;
$dark-green-60: #55D6CB;
$dark-green-40: #90F1E1;
$dark-green-20: #C6F8EC;

$green-120: #5FA9A8;
$green-80: #A4DCD1;
$green-60: #BDEDDF;
$green-40: #D7F9EC;
$green-20: #EBFCF4;

$light-blue-120: #436994;
$light-blue-80: #85AECD;
$light-blue-60: #A5CDE6;
$light-blue-40: #C8E7F6;
$light-blue-20: #E3F4FA;

$pink-120: #DBA499;
$pink-80: #FFE7DD;
$pink-60: #FFEEE3;
$pink-40: #FFF5ED;
$pink-20: #FFFAF6;

$darker-pink-120: #C26D57;
$darker-pink-80: #EDB69A;
$darker-pink-60: #F6CDB0;
$darker-pink-40: #FCE3CC;
$darker-pink-20: #FDF2E5;